@model Kursach.Models.LoginUser
@{
    ViewBag.Title = "Авторизация";

}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/StyleSheet.css" />
<section class="form">
    <div class="contanier">
        <h2 class="title">Авторизация</h2>
<a href="C:\Users\ALEXS\Documents\MPT\3 Курс 2 часть\Курсовая\!!!!!BLOG\P50-3-19\P50-3-19\Models\ApplicationContex.cs">C:\Users\ALEXS\Documents\MPT\3 Курс 2 часть\Курсовая\!!!!!BLOG\P50-3-19\P50-3-19\Models\ApplicationContex.cs</a>
        <form asp-action="Avtoriz" asp-controller="home" class="email">
            <input type="text" placeholder="Логин" asp-for="login" class="input" />
            <input type="password" placeholder="Пароль" asp-for="password" class="input" />
            <input type="submit" value="Авторизоваться" class="button btnformi" />
            <input type="submit" value="Вернуться" class="button btnformi1" asp-action="Glavnaya" asp-controller="home" />
        </form>
    </div>
    <footer class="footer">
        <img src="/img/logofooter1.png" alt="Логотип" class="logofooter">
        <p class="end">
            © Все права защищены правообладателем
        </p>
    </footer>
</section>