@model Kursach.Models.User
@{
    ViewBag.Title = "Изменения пользователя";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/StyleRegist.css" />
<header class="header" id="start">
    <div class="container">
        <div class="wrapper">
            <div class="logo">
                <img src="/img/Logo.png" alt="Logo">
            </div>
            <nav class="navigation">
                <a asp-action="Index" asp-controller="Home" class="li">Назад</a>
                <a asp-action="Glavnaya" asp-controller="Home" class="li">Выйти</a>
            </nav>
        </div>
        <div class="button-navigation">
            <button class="scroll-bar">
                <a href="#start"><img src="/img/scroll-up.svg" alt="scroll-bar"></a>
            </button>
        </div>
    </div>
</header>
<section class="contact conta" id="contact-id">
    <div class="contant-wrapper">
        <div class="Cont">
            <div class="title-contact">
                <h2>Смена данных</h2>
            </div>
        </div>
    </div>
    <div class="review-wrapper">
        <div class="form">
            <form asp-action="edit" asp-controller="home" class="review">
                <input type="hidden" asp-for="Id_user"/>
                <input type="text" placeholder="Имя" asp-for="Ima" class="input" />
                <input type="text" placeholder="Фамилия" asp-for="Familia" class="input" />
                <input type="text" placeholder="Отчество" asp-for="Otchestvo" class="input" />
                <input type="date" placeholder="Дата рождения" asp-for="DataR" class="input" />
                <input type="email" placeholder="Почта" asp-for="Email" class="input" />
                <input type="text" placeholder="Логин" asp-for="Login" class="input" />
                <input type="password" placeholder="Пароль" asp-for="Password" class="input" />
                <div class="button">
                    <button class="button btnform">Изменить</button>
                </div>
            </form>
        </div>
    </div>
</section>
