@model Kursach.Models.Modeli
@{
    ViewBag.Title = "Изменение поста";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/StyleSheet.css" />
<section class="form">
    <div class="contanier">
        <h2 class="title">Изменить пост</h2>
        <form asp-action="EditPost" asp-controller="home" class="email">
            <input type="hidden" asp-for="ID_Model" />
            <input type="text" placeholder="Название модели" asp-for="Model" class="input" />
            <input type="text" placeholder="Скидка" asp-for="skidki" class="input" />
            <input type="text" placehol+der="Фото" asp-for="picture" class="input" />
            <input type="text" placeholder="Описание модели" asp-for="info" class="input" />
            <input type="submit" value="Изменить" class="button btnformi" />
            <input type="submit" value="Вернуться" class="button btnformi" asp-action="Index" asp-controller="home" />
        </form>
    </div>
    <footer class="footer">
        <img src="/img/logofooter1.png" alt="Логотип" class="logofooter">
        <p class="end">
            © Все права защищены правообладателем
        </p>
    </footer>
</section>