@model Kursach.Models.User
@{
    ViewBag.Title = "Ошибка";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/StyleSheet.css" />
<section class="form">
    <div class="contanier">
        <h2 class="title">Ошибка</h2>
        <div>
            <p class="cena">Привет мой дорогой друг</p>
            <p class="cena">Если ты видишь эту страницу, это значит, что ты видимо забыл свой пароль или логин и ввел его неправильно</p>
            <p class="cena">Попробуй вернуться, и сделать все правильно, Всего тебе хорошего</p>
            <img src="/img/cat.jpg" alt="Кот" width="300" style="margin-left:450px">
        </div>
    </div>
    <footer class="footer">
        <img src="/img/logofooter1.png" alt="Логотип" class="logofooter">
        <p class="end">
            © Все права защищены правообладателем
        </p>
    </footer>
</section>