@model IEnumerable<Kursach.Models.Modeli>
@{
    ViewData["Title"] = "Новости";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/style1.css" />
<header class="header" id="start">
    <div class="container">
        <div class="wrapper" link="#39445f">
            <div class="logo">
                <img src="/img/Logo.png" alt="Logo">
            </div>
            <nav class="navigation">
                <a href="#contact-id" class="li">Контакты</a>
                <a asp-action="DetaliStrUser" asp-controller="Home" class="li">Ваши данные</a>
                <a asp-action="EditStrUser" asp-controller="Home" class="li">Изменить данные</a>
                <a asp-action="Glavnaya" asp-controller="Home" class="li">Выйти</a>
            </nav>
        </div>
        <div class="button-navigation">
            <button class="scroll-bar">
                <a href="#start"><img src="/img/scroll-up.svg" alt="scroll-bar"></a>
            </button>
        </div>
    </div>
</header>
<section class="about">
    <div class="about-wrapper">
        <div class="Abo">
            <div class="title-about">
                <h2>Новости</h2>
            </div>
            <div class="sub-title-about">
                <p>
                    Добро пожаловать на главную страницу, Всей командой надеемся, что ты найдешь именно ту скидку, которая нужна
                </p>
            </div>
        </div>
    </div>
    <div class="review-wrapper">
        <div class="form1">
            <form action="#" class="review">
                <table class="table">
                    @foreach (var item in Model)
                    {
                     <tr style="border: 30px solid #292C31; color: white;">
                         <tr><td style="border: 0px solid #cfb59f; color: white; font-size: 20px;">@item.Model</td></tr>
                         <tr><td style="border: 0px solid #cfb59f; color: white; font-size: 20px;">@item.skidki</td></tr>
                         <tr><td style="border: 0px solid #cfb59f; color: white; font-size: 20px;">@item.info</td></tr>
                         <tr><td style="border: 0px solid #cfb59f; color: white; font-size: 20px;"><img style="width: 700px;" class="ClassForImg" src="@item.picture"/></td></tr>
                     </tr>
                    }
                </table>
            </form>
        </div>
    </div>
</section>
<section class="contact" id="contact-id">
    <div class="contant-wrapper">
        <div class="Cont">
            <div class="title-contact">
                <h2>Контакты</h2>
            </div>
            <div class="sub-title-contact">
                <p>
                    Мы открыты с нашей аудиторией, и вы запросто можете увидеть всю информацию о нас
                </p>
            </div>
        </div>
    </div>
    <div class="review-wrapper">
        <div class="form">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7560.8738368463!2d37.47836388401821!3d55.70878366831949!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54c22123286e1%3A0xdb166cb0d2e66138!2z0J7QsdGJ0LXQttC40YLQuNC1INCg0K3QoyDQuNC8LiDQky7Qki4g0J_Qu9C10YXQsNC90L7QstCw!5e0!3m2!1sru!2sru!4v1655047985181!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="details">
            <div class="name-details">
                <p>детали</p>
            </div>
            <div class="mail-details">
                <a href="mailto:alexstor2003@gmail.com">alexstor2003@gmail.com</a>
            </div>
            <div class="phone-details">
                <a href="tel:+7(926)-174-39-49">+7(926)-174-39-49</a>
            </div>
            <div class="adres">
                <p>
                    Нежинская ул. дом 7 к. 1<br>
                    Russia
                </p>
            </div>
        </div>
    </div>
</section>

